 pandas常和numpy和scipy,分析库statamodels和scikit-learn使用

In [7]:
#series类似于一维数组对象，由一组数据以及一组与之相关的数据标签（即索引）
import pandas as pd
import numpy as np
obj = pd.Series([4,7,-5,3])
obj.values
obj2 = pd.Series([4,7,-5,3],index=['a','b','c','d'])
obj2[obj2>0]
obj2*2

a     8
b    14
c   -10
d     6
dtype: int64

In [8]:
np.exp(obj2)

a      54.598150
b    1096.633158
c       0.006738
d      20.085537
dtype: float64

In [10]:
#字典创建Series
sdata = {'ohio':3500,'Texas':71000,'Oregon':16000,'Uthah':5000}
obj3 = pd.Series(sdata)
obj3

Oregon    16000
Texas     71000
Uthah      5000
ohio       3500
dtype: int64

In [11]:
states = ['California','Ohio','Oregon','Texas']
obj4 = pd.Series(sdata,index=states)
obj4

California        NaN
Ohio              NaN
Oregon        16000.0
Texas         71000.0
dtype: float64

In [12]:
pd.isnull(obj4)

California     True
Ohio           True
Oregon        False
Texas         False
dtype: bool

In [16]:
obj4.name = 'population'
obj4.index.name = 'state'
# obj4.value.name= 'value'
obj4

state
California        NaN
Ohio              NaN
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [19]:
data = {'state':['king','hou','okc'],
       'year':[200,200,300],
        'pop':[2.3,3.4,4.5]
       }
frame = pd.DataFrame(data)
frame.index.name = 'squence'
frame

         pop state  year
squence
0        2.3  king   200
1        3.4   hou   200
2        4.5   okc   300

In [27]:
fram = pd.DataFrame(data,columns=['pop','year','state','NaN'])
fram.index=['a','b','c']
fram['year']
# loc属性获取行
fram.loc['a']

a    200
b    200
c    300
Name: year, dtype: int64

In [28]:
val = pd.Series([-1.2,-1.5,-1.7],index=['a','b','c'])
fram['debt'] = val
fram

   pop  year state  NaN  debt
a  2.3   200  king  NaN  -1.2
b  3.4   200   hou  NaN  -1.5
c  4.5   300   okc  NaN  -1.7

In [29]:
dup_labels = pd.Index(['foo','foo','bar','bar'])
dup_labels

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')

In [35]:
obj = pd.Series([4.5,7.2,-5.3,3.6],index=[1,2,3,4])
obj
obj2 = obj.reindex(range(6),method='ffill')
obj2

0    NaN
1    4.5
2    7.2
3   -5.3
4    3.6
5    3.6
dtype: float64

In [37]:
new_obj = obj.drop(2)
new_obj

1    4.5
3   -5.3
4    3.6
dtype: float64

In [41]:
frame = pd.DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'),index=['Utah','Ohio','Texas','Oregon']
                    )
series = frame.iloc[0]
frame
series
frame-series
series2 = pd.Series(range(3),index=['b','e','f'])
series2

b    0
e    1
f    2
dtype: int32

In [43]:
obj = pd.Series([4,np.nan,7,np.nan,-3,2])
obj.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [46]:
frame = pd.DataFrame({'b':[4,7,-3,2],'a':[0,1,0,1]})
frame
frame.sort_values(by=list('ab'))

   a  b
2  0 -3
0  0  4
3  1  2
1  1  7