In [2]:
import pandas as pd
df = pd.read_csv('E:/jupyter-notebook/pydata-book-2nd-edition/examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
pd.read_table('E:/jupyter-notebook/pydata-book-2nd-edition/examples/ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_csv('E:/jupyter-notebook/pydata-book-2nd-edition/examples/ex2.csv', names=['a', 'b', 'c', 'd',
'message'],index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [6]:
result = pd.read_table('E:/jupyter-notebook/pydata-book-2nd-edition/examples/ex3.txt',sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [7]:
result = pd.read_csv('E:/jupyter-notebook/pydata-book-2nd-edition/examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [11]:
pd.options.display.max_rows = 6
result = pd.read_csv('E:/jupyter-notebook/pydata-book-2nd-edition/examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
...        ...       ...       ...       ...  ..
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [14]:
chunker = pd.read_csv('E:/jupyter-notebook/pydata-book-2nd-edition/examples/ex6.csv',chunksize=1000)
chunker

In [19]:
chunker = pd.read_csv('E:/jupyter-notebook/pydata-book-2nd-edition/examples/ex6.csv',chunksize=1000)
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value=0)
tot = tot.sort_values(ascending=False)
tot[:10]

E    368.0
X    364.0
L    346.0
     ...
F    335.0
K    334.0
H    330.0
Length: 10, dtype: float64

In [21]:
import csv
with open ('E:/jupyter-notebook/pydata-book-2nd-edition/examples/ex7.csv')as f:
    lines = list(csv.reader(f))
    header,values = lines[0],lines[1:]
data_dic = {h:v for h,v in zip(header,zip(*values))}
data_dic

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [28]:
import json
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [32]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'